.wd-bc-text-data {
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
    overflow: hidden;
    color: rgb(214,4,4);
}

.breadcrumb-item+.breadcrumb-item::before {
   
    padding-right: 5px;
    
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0px;
}

form * {
    font-size: 0.95em;
}

